/* HeroDetailComponent's private CSS styles */
label {
  color: red;
  font-weight: bold;
}
input {
  font-size: 1em;
  padding: .5rem;
}
button {
  margin-top: 20px;
  margin-right: .5rem;
  background-color: #f0ece2;
  padding: 1rem;
  border-radius: 4px;
  font-size: 1rem;
}
button:hover {
  background-color: #fda403
}
button:disabled {
  background-color: #eee;
  color: #fd3636;
  cursor: auto;
}
